<style>
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alumni+Sans:wght@100&family=Bodoni+Moda:wght@400;500&family=Castoro+Titling&family=Cinzel&family=Cormorant&family=Cormorant+Garamond:wght@300;400;700&family=Familjen+Grotesk&family=Gloock&family=Labrada:wght@300&family=Libre+Bodoni&family=Noto+Serif+Display:ital,wght@0,300;0,400;1,400&family=Noto+Serif+Oriya&family=Playfair+Display&family=Playfair+Display+SC:wght@400;700&family=Poiret+One&family=Smyce+Serif+4:wght@300;400&display=swap');

@charset "utf-16";

html {
  font-size: 62.5%;
  min-width: 80%;
  margin: 2em;
background-image: url("https://64.media.tumblr.com/4ed4d1367702efabcc3b5ac77985d883/2f4bc83a0203322f-af/s2048x3072/18745f2658312a7ded198cea8de12f92b0ba1e40.jpg");
background-size: cover;
}


#return {
    display: block;
    position: absolute
    height: 40px;
    width: 40px;
    border: 1px solid black;
    color: white;
    margin-left: 3rem;
    margin-top: 3rem;
    padding:1em;
    animation:
    bounce 340ms
    alternate infinite
    cubic-bezier(.2, .65, .6, 1);
    background: black;
    opacity: 0.7;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}

#return a {
    color: white;
    font-variant: none;
    font-style: none;
    text-decoration: none;
}

ol li {
    list-style-type: upper-roman;
    line-height: 2em;
    padding-left: 3rem;
    margin-left: 5rem;
}

ol.b li {
    list-style-type: lower-roman;
}

h1 { 
  font-family: 'Bodoni Moda', serif;
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  padding-bottom: -1rem;
  opacity: .7;
  color: black;
  animation-name: fade-in;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-direction:alternate;
  animation-iteration-count: 5;

  
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-20px);
    }
  }


@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes drop-in {
    from {
      transform:
        rotate(-30deg) translateY(-100%);
      opacity: 0;
    }
    to {
      transform:
        rotate(0deg) translateY(0%);
      opacity: 1;
    }
  }
  
@keyframes fadein {
  
    0% { opacity: 0; }
    100% { opacity: 1; }
}

h3 {
  font-family: 'Bodoni Moda', serif;
  text-align: center;
  font-size: 1.7rem;
}

h4 {
  text-align: center;
  font-size: 1.6rem;
  font-variant: small-caps;
  border: 0.5px solid black;
  margin: 2em;
  padding: 2rem;
  font-weight: normal;
}

a {
  color: #5c7484;
  font-variant: small-caps;
  font-style: oblique;
  font-decoration: underline;
}

h4 > a{
  color: #5c7484;
}

.boxes {
  border: 0px;
  border-radius: 30px;
  max-width: 90ch;
  margin: auto;
  margin-top: -1rem;
  padding: 1rem;
  font-style: oblique;
  color: white;
  background: linear-gradient(to left, #c6c6c6 , #516570);
  animation: drop-in 1000ms;
}

h2.item {
  text-align: center;
}

h1.nextcont {
  border: 3px solid black;
  font-color: pink;
}
p.item {
  max-width: 80ch;
  min-height: 4rem;
  margin: 5rem;
  padding-bottom: 3em;
  text-align: justify;
  overflow-y: auto;
  
}

blockquote {
  margin: auto;
  margin-top: 3rem;
  margin-bottom; 3rem;
  padding: auto;
  max-width: 55ch;
  text-align: center;
  overflow-y: auto;
  color: white;
  border-left: 1px solid white;
  font-size: 1.7rem;
}

blockquote p {
  padding: 2rem;
  border-radius: 3rem;
}

body {
  font-family: 'Bodoni Moda', serif;
}
container {
  display: block;
  item-align: center;
  
}
 
.innercont {
  display: block;
  background-size: cover;
}

.innercont2 {
  display: flex;
  position: relative;
  border: 1px solid black;
  border-radius: 30px 0px 30px 0px;
  text-align: justify;
  max-height: 70ch;
  margin: auto;
  width: 100ch;
  padding-top: 3em;
  padding-bottom: 3em;
  font-size: 1.5rem;
  overflow-y: auto;
  background-color: #1b1d1e;
  color: #f2f2f2;
  vertical-align: middle;
  letter-spacing: 0.2em;
  line-height: 2.8rem;
}

.guts {
  /* display: block; */
  padding-right: 5em;
  max-width: 500ch;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: justify;
  
}

p.guts {
  max-width: 500ch;

}

.nextcont {
  display: block;
  max-width: 100%;
  text-align: center;
  
}

.begin {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  gap: 3rem;
  /* border: 1px solid black; */
  margin: 1em;
  padding: 3em;
  justify-content: space-evenly;
  max-width: 100%;
  item-align: center;
}

.begin > * {
  flex: 1;
  flex-basis: 100%;
}

.item {
    border: 1px solid black;
    max-height: 30%;
    max-width: 30%;
    text-align: center;
    background-color: #eae8ea;
    flex-wrap: wrap;
}

.item-title {
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 4rem;
  padding: 1em;
}

#flex-one {
  background-color: #83bac1;
  padding: 2em;
  font-size: 1.4rem;
}


#access {
    display: block;
    position: relative;
    border-radius: 30px;
    width: 50ch;
    height: 2ch;
    border: 1px solid black;
    background: linear-gradient(to left, #516570, #c6c6c6);
    color: black;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    margin-left: 8.5%;
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.5);
    
}

#access a {
    color: white;
    font-style: normal;
    text-decoration: none;
    animation-name: fade-in;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction:alternate;
    animation-iteration-count: 5;
}
</style>